<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>

    <link rel="stylesheet" href="Content/bootstrap.min.css"/>

    <link rel="stylesheet" href="Content/kel.ui.css"/>
    <script src="Scripts/kel.ui.js"></script>

    <script src="app.js"></script>


</head>
<body ng-app="TheApp" ng-controller="TheController as c">


    <h3>Angular Ajax Combobox Demo</h3>


    <div>PersonId chosen: {{c.personId}}</div>
    <br/>
    <div style="float: left">Person name:&nbsp;</div>
    <kel-ajax-combobox ng-model="c.personId"
         user-input="c.personName"
         result-getter="c.resultGetter"
         result-list="c.resultList"
         result-total-rows="c.resultTotalRows"
         selected-value="'id'"
         selected-text="'fullName'"
         ng-change="c.theValueChanged()"
         page-size="20"></kel-ajax-combobox>


    <br/>


    <input type="checkbox"/>

    <input type="text" ng-model="x.lastname"/>

    <input type="text" ng-model="x.firstname"/>

    {{x}}

    <input type="text" ng-model="lastname"/>

    <!-- TODO: debug the long press of page down key --/>
    <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>

</body>
</html>